{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["chrome >= 43", "firefox >= 45", "edge >= 15"]
      }
    }]
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ]
  ]
}
